body{
    background-color: hsl(212, 45%, 89%);
    display: flex;
}
    

.container{
    display: block;
    margin: auto;
    margin-top: 13rem;
    
    
}
.main{
    margin: auto;
         
    background-color: hsl(0, 0%, 100%);
    width: 20rem;
    height: 35rem;
    border-radius: 10%;
    
}

.imgqr{
    width: 18rem;
    height: 18rem;
    margin-top: 1rem;
    margin-left: 1rem;
    border-radius: 10%;
}
.title{
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Outfit', sans-serif;
    margin-top: 2rem;
}
.txt{
    text-align:center;
    font-size: 1.2rem;
    margin: 1rem;
    color: hsl(220, 15%, 55%);
}